<tr id="{{ row_id }}" class="dblog-event-row">
    <td colspan="6">
        <a href="#" class="dblog-event-close" data-event-id="{{ event_id }}">{{ 'Close'|t }}</a>
        <div id="{{ details_id }}" class="dblog-event-details">
            {{ event }}
        </div>
    </td>
</tr>